.login {
    /* display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 200px;
    overflow-y: hidden;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    
}

.login > img {
    object-fit: contain;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.login > form {
    display: flex;
    flex-direction: column;

}

.login > form > input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login > form > button {
    width: 365px;
    height: 50px;
    font-size: large;
    color: white;
    background-color: #0074b1;
    border-radius: 5px;
    /* margin-top: 20px; */

}

.login__register {
    margin-top: 5px;
    color: #0177b7;
    cursor: pointer;
}

.login > p {
    margin-top: 25px;
}